[submodule "RL"]
	path = RL
	url = git@github.com:EvolvDK/Vektor-E_RL.git
[submodule "JetsonGPIO"]
	path = JetsonGPIO
	url = https://github.com/pjueon/JetsonGPIO
[submodule "LiDAR_Project"]
	path = LiDAR_Project
	url = git@github.com:EvolvDK/LiDAR_Scan_GrabViz.git
